In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
url = 'https://www.w3schools.com/sql/sql_insert.asp'
response = requests.get(url)

In [3]:
response

In [4]:
soup = BeautifulSoup(response.content, 'html.parser')
headings = soup.find_all('h2')
headlist=[x.text for x in headings]
print(headlist)

['Tutorials', 'Exercises', 'Certificates', 'All Our Services', 'SQL Tutorial', 'SQL Database', 'SQL References', 'SQL Examples', 'The SQL INSERT INTO Statement', 'Demo Database', 'INSERT INTO Example', 'Insert Data Only in Specified Columns', 'Insert Multiple Rows', 'Test Yourself With Exercises', 'Exercise:', 'Video: SQL NOT Operator', 'Contact Sales', 'Report Error']

In [5]:
df=pd.DataFrame(headlist,columns=['Headings'])
df.to_csv('newdata.csv', index=False)
df

                                 Headings
0                               Tutorials
1                               Exercises
2                            Certificates
3                        All Our Services
4                            SQL Tutorial
5                            SQL Database
6                          SQL References
7                            SQL Examples
8           The SQL INSERT INTO Statement
9                           Demo Database
10                    INSERT INTO Example
11  Insert Data Only in Specified Columns
12                   Insert Multiple Rows
13           Test Yourself With Exercises
14                              Exercise:
15                Video: SQL NOT Operator
16                          Contact Sales
17                           Report Error